:root {
  --footer-height: 65px
}

* {
  margin: 0;
}

html,
body,
#root{
  height: 100%;
}

.page-wrapper {
  min-height: 100%;
  margin-bottom: calc(-1 * var(--footer-height));
}

.page-wrapper:after {
  display: block;
  content: '';
}

footer,
.page-wrapper:after {
  height: var(--footer-height);
}