$primary: #DE8667;
$secondary: #EFB467;
$dark: #332D38;

/* -------------------------------------------------------------------------- */
/*                                   buttons                                  */
/* -------------------------------------------------------------------------- */
$btn-padding-horizontal: 16px;

.btn {
  font-family: 'Raleway', sans-serif;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 32px;
  padding: 10px $btn-padding-horizontal;
}

.btn-positive {
  color: white;
  background-color: $primary;
}

.btn-alt {
  color: $primary;
  background-color: rgb(255, 255, 255);
  border: 2px solid #EFB467;
}

.btn-wide {
  width: calc(148px);
  height: 40px;
  padding: 0px;
}

.btn-block {
  width: 100%;

}

.btn-toggle {
  background-color: white;
  color: $primary;
  border: 0;
  font-size: 35px;
}

.btn-circle {
  border-radius: 50%;
  overflow: hidden;
  border: none;
}

.btn-link {
  text-align: start;
  border: none;
  box-shadow: none;
  padding: 0;
}

/* -------------------------------------------------------------------------- */
/*                                 text styles                                */
/* -------------------------------------------------------------------------- */
@font-face {
  font-family: 'Raleway';
  src: url('../assets/fonts/raleway/Raleway-VariableFont_wght.ttf') format('ttf') tech('variations'),
    url('../assets/fonts/raleway/Raleway-VariableFont_wght.ttf') format('ttf-variations');
  font-weight: 100 900;
  font-stretch: 25% 151%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-weight: 300;
  font-size: 98px;
}

h2 {
  font-weight: 300;
  font-size: 61px;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.25px;
}

h5 {
  font-weight: 400;
  font-size: 24px;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 19px;
}

.text-body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

strong {
  font-weight: 700;
}

.text-caption {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 12px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: $primary;
}

/* --------------------------------- utility -------------------------------- */
.container {
  padding: 0px 33px;
}

.text-color-primary {
  color: $primary;
}

.centered {
  margin: 0 auto;
  display: block;
}

.white-space {
  height: 124px;
  width: 100%;
}

.loading-indicator {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($dark, $alpha: 0.4);
}

.spinner {
  position: relative;
  left: calc(50% - var(--size) / 2);
  top: calc(50% - var(--size) / 2);


  --stroke-width: 6px;
  --size: 64px;
  --duration: 1s;
  border: var(--stroke-width) solid rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  border-top-color: rgba(0, 0, 0, 0.5);
  animation: rotate calc(var(--duration)) linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* ---------------------------------- forms --------------------------------- */

.form-alt-action {
  margin-top: 16px;

  a {
    float: right;
    z-index: 2;
  }
}


/* ---------------------------------- lists --------------------------------- */

.quotes-list {
  margin-top: 48px;

  >button {
    margin-top: 32px;
  }
}