@media screen and (min-width: 768px) {

    $container-width: 820px;

    /* ------------------------------- login page ------------------------------- */
    #login-form {
        max-width: $container-width;



        >p {
            text-align: center;
        }

        >form {
            margin-top: 20px;
        }
    }

    #signup-container {
        max-width: $container-width;
    }

    header {
        .btn-wrapper {
            flex-grow: 0;
            order: 1;
        }

        .title-brand {
            order: 0;
            flex-grow: 1;
        }
    }


    #landing-page-new-user {
        >:first-child {
            margin-top: 200px;
        }

        #welcome {
            .btn {
                margin-top: 32px;
            }
        }

        #explore-quotes {
            >div>h4 {
                margin-top: 124px;
            }

            h4+p.text-body {
                margin-top: 10px;
            }
        }
    }
}