@media screen and (min-width: 768px) {
    $container-width: 820px;

    .quote-card {
        margin: 10px;
        padding: 18px 32px 18px 18px;
        width: 390px;
    }

    .quotes-list {
        .items-md {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }


    }

    /* ------------------------------- login page ------------------------------- */
    #login-form {
        max-width: $container-width;



        >p {
            text-align: center;
        }

        >form {
            margin-top: 20px;
        }
    }

    #signup-container {
        max-width: $container-width;
    }

    header {
        .btn-wrapper {
            flex-grow: 0;
            order: 1;
        }

        .title-brand {
            order: 0;
            flex-grow: 1;
        }
    }

    h4+p.text-body {
        margin-top: 10px;
    }


    #landing-page-new-user {
        >:first-child {
            margin-top: 200px;
        }

        .row .col #welcome {
            a.btn {
                margin-top: 32px;
            }
        }

        #explore-quotes {
            >div>h4 {
                margin-top: 124px;
            }

        }
    }


    #landing-page {
        #quote-of-the-day {
            margin-top: 177px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        div #most-upvoted-quotes {
            margin-top: 127px;
        }
    }
}