@import './common';

:root {
  --footer-height: 65px
}

* {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  background-color: white;
}

.page-wrapper {
  min-height: 100%;
  margin-bottom: calc(-1 * var(--footer-height));
}

.page-wrapper:after {
  display: block;
  content: '';
}

footer,
.page-wrapper:after {
  height: var(--footer-height);
}





/* --------------------------------- footer --------------------------------- */
footer {
  padding: 0px 35px;
  background-color: $primary-color;
  color: white;

  div {
    height: 100%;

    i {
      line-height: var(--footer-height);
      text-align: left;
      font-size: 38px;
    }

    small {
      float: right;
      position: relative;
      top: 28px;
      font-size: 12px;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                            landing page new user                           */
/* -------------------------------------------------------------------------- */

#welcome {

  h4,
  h5 {
    text-align: start;
  }

  h4 {
    margin-top: 55px;
  }

  h5 {
    margin-top: 18px;
  }

  button {
    @extend .btn-wide;

    margin-top: 32px;

  }
}

#featured-quote {
  margin-top: 80px;
}

#explore-quotes {
  margin-top: 60px;

  h5 {
    margin-top: 56px;
  }

  .text-body {
    margin-top: 18px;
  }

  .quotes-list {
    margin-top: 48px;
  }

  >button {
    margin-top: 32px;
  }
}

em {
  color: $primary-color;
  font-style: normal;
}



/* ---------------------------------- quote --------------------------------- */

.quote-card {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 48px 16px 16px;
  gap: 21px;

  /* White */
  background: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 16px;

  margin: 20px 0px;

  .voting {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;

    button {
      background-color: transparent;
      border: 0px;
    }

    button:hover {
      opacity: 0.5;
      color: rgba(0, 0, 0, 0.15);
    }
  }

  .user-profile {
    margin-top: 20px;
    height: 35px;

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: fill;
      margin-right: 10px;
    }

    span {
      display: inline-block;
      line-height: 35px;
    }
  }
}

/* ----------------------------- featured quote ----------------------------- */
.featured-quote-container {
  position: relative;
}

.featured-quote {
  position: relative;
  z-index: 1;
  padding: 60px 0px;

  .quote-card {
    margin: 0;
  }
}

.bottom-quote {
  .quote-card {
    margin: 0;
  }

  filter: blur(2px);
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
}

.top-quote {
  .quote-card {
    margin: 0;
  }

  filter: blur(2px);
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
}


/* -------------------------------------------------------------------------- */
/*                                landing page                                */
/* -------------------------------------------------------------------------- */

#quote-of-the-day {
  h4 {
    color: $primary-color;
    margin-top: 56px;
  }

  .quote-card {
    margin-top: 32px;
  }
}

#most-liked-quotes {
  h3 {
    color: $primary-color;
    margin-top: 64px;
  }

  .text-body {
    margin-top: 16px;
  }

  .btn-wide{
    margin-top: 32px;
  }
}