@import './common';

:root {
  --footer-height: 65px
}

* {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  background-color: white;
}

.page-wrapper {
  min-height: 100%;
  margin-bottom: calc(-1 * var(--footer-height));
}

.page-wrapper:after {
  display: block;
  content: '';
}

footer,
.page-wrapper:after {
  height: var(--footer-height);
}





/* --------------------------------- footer --------------------------------- */
footer {
  padding: 0px 35px;
  background-color: $primary-color;
  color: white;

  div {
    height: 100%;
    position: relative;

    i {
      line-height: var(--footer-height);
      text-align: left;
      font-size: 38px;
    }

    small {
      float: right;

      padding-bottom: 21px;
      padding-top: 29px;
      font-size: 12px;
    }
  }
}

/* -------------------------- landing page new user ------------------------- */

#welcome {
  button {
    width: 137px;
  }
}

#featured-quote {
  margin-top: 80px;
}

#explore-quotes {
  margin-top: 60px;

  h5 {
    margin-top: 56px;
  }
}

em {
  color: $primary-color;
  font-style: normal;
}



/* ---------------------------------- quote --------------------------------- */

.quote-card {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 32px 16px 16px;
  gap: 21px;

  /* White */
  background: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  border-radius: 16px;

  margin: 20px 0px;

  .voting {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;

    button {
      background-color: transparent;
      border: 0px;
    }

    button:hover {
      opacity: 0.5;
      color: rgba(0, 0, 0, 0.15);
    }
  }

  .user-profile {
    margin-top: 20px;
    height: 35px;

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: fill;
      margin-right: 10px;
    }

    span {
      display: inline-block;
      line-height: 35px;
    }
  }
}

/* ----------------------------- featured quote ----------------------------- */
.featured-quote-container {
  position: relative;
}

.featured-quote {
  // padding: 60px 0px;
  position: absolute;
  top: 60;
  left: 0;
  right: 0;
  bottom: 60;

  .quote-card {
    z-index: 1;
  }
}

.bottom-quote {
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;

  .quote-card {
    z-index: -1;

  }
}

.top-quote .quote-card {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
}